main{
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-column-gap: 2rem;
  margin:0 auto;
  max-width:1200px;

}

hr{
  color: grey;
  width: 100%;
}
aside{
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  box-shadow: 1px 1px 5px black;
  border-radius: 0.5rem;
  overflow:hidden;

}
@media  (max-width: 769px){
  aside{


    align-items: center;
    box-shadow: none;

  }
  section{

    align-items: center;
    box-shadow: none;

  }
}
section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 1px 1px 5px black;
  border-radius: 0.5rem;
  overflow:hidden;

}
.top-line{
  display: block;
  height: 3rem;
  width: 100%;
  background: -webkit-linear-gradient(left ,black, #480963);
}
h1{
  font-size: 2.5rem;
  text-align: center;
  margin: 0.5rem 0;
}
.position-work{
  color: grey;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem 0 1em 0;
}
.aside-text{
  padding:0 1rem ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-photo{
  border-radius: 50%;
}
h3{
  margin: 1rem 0;

  font-size: 1.5rem;
}
.contacts-list li{
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
  padding: 0.6rem 0;


}
.contacts-list li a{
  color: black;
}
.contacts-list li a:hover{
color: #480963;
  font-size: 1.4rem;
}
.contacts-list img{
  width: 1.5rem;
  margin-right:1rem ;
}
.languages-list{
  font-size: 1.2rem;
  padding: 1rem;
}
.languages-list li{
  padding: 0.5rem 0 0.5rem  1rem;

}
.languages-knowledge{
  font-size: 1rem;
  color: grey;
  font-style: italic;
}

section>div{

  display: flex;
  flex-direction: column;
  width: 90%;
  overflow: hidden;
}
.left{ margin:0 1rem;}
section h2{
  font-size: 1.7rem;

  margin: 1rem 0;

}
section p{
  font-size: 1.2rem;
  color: black;
}
.line{

  width: 100%;
  height: 2px;
  background: grey;
  margin: 0.5rem 0;
}

.profile ul>li{
  padding: 0.5rem ;
}
.skills ul{
  padding-top: 1rem;
  padding-left: 1rem;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(3,1fr);
}
.soft-skills ul{
  padding-top: 1rem;
  padding-left: 1rem;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(3,1fr);
}
@media  (max-width: 321px){
  .soft-skills ul{
    grid-template-columns: repeat(2,1fr);
  }
}
.portfolio ul{
  padding: 1rem;
}

.portfolio a{
   color: black;
  font-size: 1.2rem;
 }
.portfolio a:hover{
  font-size: 1.5rem;
  color: #480963;
}
.experience-position {
  margin-top: 1rem;
  font-weight: bold;
}
.experience-date{
  color: grey;
}
.experience-description{
  padding: 0.5rem;
}
.education{
  padding: 1rem;
}
.education-specialization{
  font-weight: bold;
  padding: 1rem 0;
}
.education_university{
  padding-bottom: 2rem;
}

.bottom-line{
  display: block;
  height: 3rem;
  width: 100%;
  background: -webkit-linear-gradient(right ,black, #480963);
}
