@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: "Roboto";

}
.blue-line{
  background-color: #376193;
  height: 40px;
  width: 100%;
}
.main-color{
  background-color: var(--main-color);
}
.space-left{
  padding-left: 2rem;
}

aside {
  float:left;
  width: 100%;
  position: relative;

}
@media (min-width: 767px) {
  aside {
    float: left;
    width: 40%;
  }
}
h1{
  font-size: 29px;
  line-height: 2rem;
  padding: 2rem 0 1rem 0;
  text-align: center;
}
.main-photo{
  border-radius: 50%;
  width: 80%;
margin: 0 auto;
}
h3{
  font-size: 22px;
  line-height: 1rem;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 0.3rem;
  margin-bottom: 0.4rem;
}

.contacts{
  padding:1rem;
  margin-bottom: 1rem;
}


.contacts-list>*{
    padding: 0.4rem 0 0.4rem 2rem;

}
.contacts-list a{
  color: black;
}
.contacts-list a:hover{
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
}
.contacts-list img {
  color: black;
  max-width: 14px;
  float: left;
  margin-right: 0.3rem;

}
.languages{
  padding: 1rem;
}
.languages-list *{
  padding: 0.4rem 0 0.4rem 2rem;

}

section{
  float: right;
  width: 100%;
  padding-top: 5rem;
}
  @media (min-width: 767px) {
    section {
      float: right;
      width: 60%;
    }
  }
h2{
  font-size: 23px;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 0.3rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}
.summary p{
  font-size: 15px;
  padding: 1rem 0 2rem 0;
}
.skills ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding:1rem 0 ;


}
.skills ul li{
  padding: 0.3rem 1rem;
  text-align: left;
}
.experience>*{
  padding-left: 2rem;
}
.experience-position{
  padding-top: 1rem;
}
.experience-name-company{
  font-size: 15px;
}
.experience-date{
  font-size: 14px;
}
.experience-description{
  padding: 1.5rem 0 0.5rem 0;
}

.education h2{
  padding-top: 1rem;
}
.education-specialization{
  font-size: 14px;
  padding-top: 0.5rem;
}
.education_university{
  padding-bottom: 3rem;
}
