.cv {
  width: 992px;
  height: 947px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  margin: 0px auto;
  font-family: "Roboto";
  font-weight: 400;
  /*font-size: 14px;*/
}

.box {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 33px;
}

.box-left {
  width: 346px;
  height: 946px;
  border-top: 40px solid #376193;
  border-bottom: 40px solid transparent;
  font-size: 18px;
}

.box-right {
  width: 638px;
  height: 946px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid #264061;
  font-size: 18px;
}
.name {
  font-weight: normal;
  font-size: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #264061;
  margin-top: 32px;
  margin-bottom: 0;
}
.photo {
  display: block;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  margin: 22px auto 0;
}
.sectionTitle {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #264061;
  margin-top: 24px;
  margin-bottom: 0;
  border-bottom: 1px solid #376193;
  padding-bottom: 3px;
}
.list {
  list-style-type: none;
  margin: 0;
  padding-left: 24px;
}

.list li {
  margin: 15px 0;
}

.link {
  text-decoration: none;
  color: #000000;
  margin-left: 5px;
}

.skilsItems {
  margin-top: 20px;
}

.skilsItems p {
  display: inline-block;
  width: 35%;
  margin: 2px 0;
  padding-top: 10px;
}

.experienceList li {
    margin: 30px 0;
}

.experienceList li  {
    margin: 0;
}
.experienceList li .paragraph{
  margin-top: 3px;
  margin-bottom: 20px;
}

.insta {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}

.link-i {
  text-decoration: none;
  color: #000000;
  margin-left: 5px;
}
