* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 992px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #D3D3D3;
}

.box-1 {
  width: 347px;
}

.box-2 {
  width: 644px;
}

.rectangle {
  height: 40px;
  background: #376193;
}

.h1 {
  margin: 32px 76px 22px 77px;
  font-weight: 400;
  font-size: 29px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #264061;
}

.h3 {
  margin-left: 33px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #264061;
}

.img {
  margin: 0 54px 24px 54px;
  max-width: 240px;
  border-radius: 50%;
}

hr {
  background: #376193;
}

.hr-left {
  width: 282.5px;
  margin: 0 auto 15px auto;
}

.hr-right {
  width: 579.5px;
  margin: 0 auto 15px auto;
}

li {
  list-style-type: none;
}

.socials, .languages-li {
  margin: 0 0 17px 57px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.sum-head{
  margin-top: 73px;
}
.summary, .edu {
  margin: 0 38px 26px 32px;
}
.skills{
  margin-right: 171px;
  display: flex;
  justify-content: space-around;
}
.course-li{
  margin: 0 47px 30px 72px;
}
.link{
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.icon{
  float: left;
}

