*{
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
	
.conteiner {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
}

.content {
  width: 992px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.content-logo-contact {
  width: 50%;
  height: 100%;
}

.rectangle-top {
  width: 100%;
  height: 40px;
  background: #376193;
  border-radius: 0px;
}

.name {
  display: block;
  margin: 25px 50px 25px 50px;
  font-size: 1.9rem;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #264061;
}  

.foto {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 150px;
  margin: auto;
}

.category-name {
  margin: 24px 33px 20px 33px;
  border-bottom: 2px solid #376193;
  font-size: 22px;
  line-height: 26px;
  color: #264061;
}

.contacts {
  line-height: 25px;
  margin-left: 57px;
}

.icon {
  margin-right: 10px;
}

.languages {
  margin-left: 57px;
  line-height: 26px;
}

.summary {
  display: block;
  width: 100%;
  margin-top: 40px;
}

.about-me {
  margin: 0 33px 0 33px;
  text-align: justify;
}

.skills {
  columns: 3;
  list-style-type: none;
  text-align: center;
}

.date {
  margin-bottom: 3px;
  font-size: 13px;
}

.rectangle-footer {
   width: 100%;
  height: 40px;
  background: #264061;
  margin-left: 0;
  margin-top: 135px;
}
