.osnova {
    border: 1px solid; 
height: 1000px;
width: 950px;
margin: 0 auto;
display: flex;}

    .colon-left {
        /* background: MintCream; */
        height: 1000px;
        width: 350px;
        flex-direction: column;
        align-items: center;}

        .line1 {background: Navy;
            height: 40px;
            width: 350px;}
        .name {
            /* background: NavajoWhite; */
            font-size: 29px;
            height: 100px;
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;}

        .image {
            /* background: Navy; */
            height: 250px;
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;}
        .radius {border-radius: 50%;
            height: 240px;
            width: 240px;}


        .naz {
            /* background: PaleGreen; */
                border-bottom: 2px solid MidnightBlue;
                font-size: 22px; 
                height: 30px;
                width: 300px;
                margin-top: 10px;
                margin-left: 10px; 
                display: flex; 
                align-items: flex-end;}

        .ikon {height: 18px;
            width: 18px;
            margin-top: 15px;
            margin-right: 10px;}

        .stroki {
            /* background: OrangeRed; */
            height: 18px;
            width: 200px;
            font-size: 18px;
            margin-top: 15px;}


        .contacts {
            /* background: Orchid; */
            height: 300px;
            width: 350px;
            display: flex;}

            .contacts-left {
                /* background: PaleGreen; */
                height: 300px;
                width: 85px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;}

            .contacts-right {
                /* background: Olive; */
                height: 300px;
                width: 200px;}

        .languag {
            /* background: OrangeRed; */
            height: 120px;
            width: 220px;
            margin-left: 40px;
            margin-top: 15px;
            font-size: 18px;}


    
    .colon-right {
        /* border: 1px solid; */
        height: 1000px;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;}

        .naz-right {
            /* border: 1px solid; */
            border-bottom: 2px solid MidnightBlue;
            font-size: 22px; 
            height: 40px;
            width: 550px;
            margin-top: 30px; 
            display: flex; 
            align-items: flex-end;}

        .nul-blok {
            /* border: 1px solid; */
            height: 28px;
            width: 550px;
            margin-top: 5px;}

        .summery {
            /* border: 1px solid; */
            height: 110px;
            width: 550px;
            margin-top: 15px;}
        
        .skils {
            /* border: 1px solid; */
            height: 80px;
            width: 550px;
            margin-top: 15px;}
        .nol {margin: 0px;} 
        .skils-tabl {column-count: 3;
            margin-top: 15px;}
            
        .experience {
            /* border: 1px solid; */
            height: 50px;
            width: 550px;
            margin-top: 15px;}
               
        .education {
            /* border: 1px solid; */
            height: 60px;
            width: 550px;
            margin-top: 15px;}
        
        .line {
            /* border: 1px solid;  */
            height: 245px;
            width: 600px;
            display: flex;
            align-items: flex-end;}  
        .line2 {background: Navy;
            height: 40px;
            width: 600px;}
            
        .none-style{
            text-decoration: none;
            color: black;}
           
          







