:root {
    --color-wrapper: #000000;
    --color-line: #000080;
}

.wrapper {
    outline: 1px solid black;
    display: flex; 
    height: 1300px;
    width: 950px;
    margin: 0 auto;
}

    .column-left {
        /* outline: 1px solid var(--color-wrapper); */
        height: 100%;
        width: 350px;
    }

        .line-left {
            background: var(--color-line);
            height: 40px;
            width: 100%;
        }

        .section-hero {
            margin: 25px 0 40px 0;
        }

        .hero {
            /* background: NavajoWhite; */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 100%;
            margin: 0 0 25px 0;
            text-align: center;
            font-size: 29px;
            line-height: 1.2;
        }

        .position {
            /* outline: 1px solid black; */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 100%;
            margin: 0 0 45px 0;
            font-size: 20px;
        }

        .my-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0 0 45px 0;
        }

        .radius {
            border-radius: 10%;
        }

        .residence {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 100%;
            margin: 0 0 0 0;
            font-size: 20px;
        }

        .adress-left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-left {
            /* background: PaleGreen; */
            border-bottom: 2px solid var(--color-line);
            display: flex; 
            align-items: flex-end;
            height: 30px;
            width: 300px;
            margin: 0 0 15px 0;
            font-size: 22px;
            font-style: normal;
        }

        .contacts {
            display: flex;
            width: 100%;
        }
       
            .contacts-left {
                margin: 0 0 0 45px;
                padding: 0 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .contacts-left > li {
                height: 18px;
                width: 18px;
                margin-top: 15px;
                margin-right: 10px;
            }

            .contacts-right {
                width: 200px;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                list-style: none;
                font-style: normal;
            }

            .contacts-right > li {
                height: 18px;
                width: 200px;
                font-size: 18px;
                margin-top: 15px;
            }
    
    .column-right {
        /* outline: 1px solid black; */
        height: 100%;
        width: 600px;
    }

        .zero-blok {
            height: 80px;
            width: 550px;
        } 
            
        .conteiner-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }

        .conteiner-right > li {
            list-style: none;
            margin: 0 0 50px 0;
        }
        
        .title-right {
                /* outline: 1px solid black; */
                border-bottom: 2px solid MidnightBlue;
                font-size: 22px; 
                width: 550px;
                margin: 0 0 0 0; 
                display: flex; 
                align-items: flex-end;}

        

        .summery {
            width: 550px;
            margin: 15px 0 0 0;
            font-size: 18px;
            line-height: 1.2;
        }
        
        .skils {
            width: 550px;
            margin-top: 15px;
            font-size: 18px;
        }
         
        .skils-tabl {
            column-count: 3;
            margin-top: 12px;
        }

        .skils-tabl li {
            list-style-type: disc;
        }
            
        .experience {
            width: 550px;
            margin-top: 15px;
            font-size: 18px;
            line-height: 1.3;
        }

        .experience > h3 {
            margin: 0 0 0 0;
            font-size: 18px;
        }

        .experience ul {
            padding: 0 0 0 25px;
            list-style-type: disc;
        }
               
        .education {
            width: 550px;
            margin: 15px 0 0 0;
            font-size: 18px;
            line-height: 1.3;
        }

        .languag {
            width: 550px;
            margin: 15px 0 0 0;
            padding: 0 0 0 0;
            font-size: 18px;
            list-style-type: disc;
        }

        .languag > li {
            margin: 0 0 0 25px;
        }
        
        .hobby {
            width: 550px;
            margin-top: 15px;
            font-size: 18px;
        }

        .hobby ul {
            list-style-type: disc;
            padding: 0 0 0 0;
            margin: 0 0 0 25px;
        } 

        .line {
            height: 206px;
            width: 600px;
            display: flex;
            align-items: flex-end;}  
        .line2 {
            background: var(--color-line);
            height: 40px;
            width: 600px;}
            
        .none-style{
            text-decoration: none;
            color: black;}
           
          







