* {
  font-family: 'Roboto', sans-serif;
}

.cv {
  width: 991px;
  height: 947px;
  max-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 }

.cv__left-side {
  width: 35%;
  height: 100%;
 }

.cv__rectangle {
  width: 100%;
  height: 40px;
 }

 .cv__rectangle.top {
   margin-bottom: 30px;
   background: #376193;
 }

 .cv__section {
   margin-bottom: 8px;
 }

 .cv__main-title {
   text-align: center;
   color: #264061;
 }

 .cv__photo{
   display: block;
   margin: 0 auto;
   width: 240px;
   height: 240px;
   border-radius: 50%;
 }

 .cv__title {
   margin-left: 32px;
   color: #264061;
   border-bottom: 1px solid #376193;
 }

 .cv__title.contacts {
  width: 83%;
  margin-bottom: 0;
 }

 .cv__title.languages {
  width: 83%;
 }

 .cv__contacts-list {
   margin-left: 1.5rem;
   list-style: none;
 }

 .cv__contacts-link {
   text-decoration: none;
   color: #000000;
 }

 .cv__contacts-list-item {
   margin-top: 10px;
 }

 .cv__languages-list {
   margin-left: 1.5rem;
   list-style: none;
 }

 .cv__languages-list-item {
   margin-bottom: 5px;
 }


 .cv__right-side {
   width: 65%;
   height: 100%;
   padding: 0 35px 35px 10px;
 }

 .cv__rectangle.invisible {
  margin-bottom: 30px;
 }

 .cv__summary-list {
  padding-left: 50px;
 }

 .cv__skills-list {
   columns: 3;
   padding-left: 60px;
   margin-bottom: 35px;
   list-style: none;
 }

 .cv__experience-list {
   padding-left: 75px;
   margin-bottom: 33px;
 }

 .cv__dates {
  font-size: 80%;
 }

 .cv__my-education {
   padding-left: 33px;
 }

 .cv__rectangle.bottom {
   background: #264061;
   width: 100%;
   margin-left: 30px;
 }













