.h1 {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
    color: var(--h1Colors);
    margin: 20px;
}
.h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    text-align: left;
    color: var(--h1Colors);
    padding: 10px;
    border-bottom: solid 2px var(--borderscolor);
    margin-bottom: 20px;


}
