.h1 {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(144, 0, 31);
    margin: 20px;
}
.h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    text-align: left;
    color: rgb(176, 4, 41);
    padding: 10px;
    border-bottom: solid 2px;
    border-color: brown;
    margin-bottom: 20px;


}
