.cv-section {
  width: 992px;
  min-height: 100%;
  max-height: 1500px;
  flex-direction: row;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border: 0px solid gainsboro;
  background: white ;
  box-sizing: border-box;
}
.left-side-container {
  width: 35%;
  height: 300%;
}
.right-side-container {
  width: 65%;
  height: 300%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
.full-name {
    color:#264061;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-weight: 400, Regular;
    font-size: 29px;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
.cv-tittles {
font: Verdana, sans-serif;
font-size: 23px;
color: #264061;
font-weight: bold;
border-bottom: 1px solid #376193;
margin-top: 2rem;
  }
.cv-content {
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}
img {
  width: 240px;
  height: 240px;
  border-radius: 130px;
  margin-bottom: 1.5rem;
  margin: 0 auto;
  padding-inline: 3rem;
}
.cv-job-status {
  color: #376193;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-style: normal;
}
.cv-skills-list {
  columns: 3;
  padding-right: 1rem;
}
.cv-wordinig {
font-family: Verdana, sans-serif;
font-size: 16px;
font-style: normal;
margin-top: 1rem;
margin-bottom: 1rem;
}
.cv-li {
  margin-bottom: 0.5rem;
}
.decorative-block {
  width: 100%;
  height: 40px;
}
.dec-bg-01 {
  background: white;
}
.dec-bg-02 {
  background: white;
}