
html {
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.body_container {
  background: #ffffff;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  width: 992px;
  display: flex;
  flex-direction: row;
}


.container_aside {
  width: 35%;
}

.container_main {
  margin-top: 28px;
  width: 65%;
}

.container_padd {
  padding: 33px;
}

.blue-box-rght {
  height: 40px;
  background: #376193;
  border-radius: 0px;
}

.footer-blue-box {
  height: 40px;
  background: #264061;
  border-radius: 0px;

}

.my-name {
  font-size: 1.8rem;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #264061;
  margin-bottom: 20px;
  margin-top: 0;
}

img {
  width: 240px;
  height: 240px;
  left: 278px;
  top: 163px;
  border-radius: 50%;
}

.cv-subtitle {
  font-size: 1.375rem;
  color: #264061;
  border-bottom: 1px solid #264061;
  margin-bottom: 15px
}

.text {
  font-size: 1rem;
}

.contacts-list {
  list-style-type: none;
}

.contacts-list li {
  padding-left: 10px; 
  margin-bottom: 10px;
}

.github-icon {
  list-style-image: url(/img/github-icon.png);
}

.linkedin-icon {
  list-style-image: url(/img/linkedin-icon.png);
}

.email-icon {
  list-style-image: url(/img/email-icon.png);
}

.phone-icon {
  list-style-image: url(/img/phone-icon.png);
}

.contacts-link a {
  font-size: 0.8rem;
  color: #000000;
}

a {
  text-decoration: none;
}

.skills-list {
  column-count: 3;
  list-style-type: none;
}

.term-work {
  font-style: italic;
  font-size: 0.8rem
}