html,body {
  font-family: 'Roboto', serif;
  line-height: 1.5;
  height: 100%;
  margin: 0;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

a {
  all:unset;
}
