:root {
  --blue-100: #376193;
  --blue-200: #264061;
  --grey-100: #d3d3d3;
}

/* Colors */

.blue-bg-100 {
background-color: #376193;
}

.blue-bg-200 {
background-color: #264061;
}

/* Reset */
html,
body {

height: 100%;
margin: 0;
}

h1, h2, h3, h4, h5, h6 {

  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

/* CV */

.cv {

width: 992px;
min-height: 100%;
max-height: 1200px;
display: flex;
flex-direction: row;
margin: 0 auto;
border: 1px solid #d3d3d3;
background: whitesmoke;
box-sizing: border-box;

}

/* Left side */
.cv-left-side {

  width: 35%;
  height: 100%;
}

.cv-side-content {

  padding: 2rem;
}

.cv-full-name {

  text-align: center;
  font-size: 1.rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #264061;
}

.cv-photo {

background-color: lightgrey;
border-radius: 50%;
overflow: hidden;
width: 250px;
height: 250px;
margin: 0 auto;

}

.cv-contacts-list {

padding-left: 1.5rem;

}

.cv-contacts-list li {

  margin-bottom: 1rem;

}

/* Right Side */

.sv-right-side {

width: 65%;
height: 100%;
display: flex;
justify-content: space-between;
flex-direction: column;

}

.cv-skills-list {

  columns: 3;
  padding-left: 1.5rem;
}

.cv-expiriance-list li {

  margin-bottom: 2rem;

}

/* Common */

.cv-section {

  margin-bottom: 1.5rem;
}

.cv-section-title {

  color: #264061;
  margin-bottom: 1rem;
  border-bottom: 1px solid #376193;

}

.bi {

  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  display: inline-block;
  vertical-align: -0.125rem;

}

.cv-cursor-pointer {

  cursor: pointer;
}

.cv-decorative-block {

height: 40px;
width: 100%;

}
