body {
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
}

.cv { 
    width: 992px;
    height: 947px;
    min-height: 100%;
    max-height: 1200px;
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    border: 1px solid grey;
    background-color: white;
    box-sizing: border-box;   
} 

.cv-left-side {
    width: 35%;
    height: 100%;
}

.side-content {
    padding: 2rem;
}

.full-name {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: #264061;
}

.image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}


.left-side-top-block {
    width: 347px;
    height: 40px;
    background-color: #376193;
    top: 1px;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #264061;
}

.cv h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #264061;
    border-bottom: 1px solid #376193;
}

.contacts-list {
    padding-left: 1.5rem;
}

.languages-list {
    padding-left: 1.5rem;
}

.skills-list {
    column-count: 3;
    padding-left: 1.5rem;
}

ul img {
    width: 16px;
    height: 16px;
}

.contacts-list a {
    all: unset;
}

.cv-right-side {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-content {
    height: 100%;
}

.right-side-top-block {
    width: 100%;
    height: 40px;
    background-color: #fff;
    top: 0px;
}

.right-side-bottom-block {
    position: relative;
    bottom: 0; 
    width: 644px;
    height: 40px;
    background-color: #264061;
}
   
.cv-section-title {
    margin-bottom: 1rem;
}
