body {
  height: 100%;
  margin: 0;
  font-family: Roboto;
}

.container {
  display: flex;
  justify-content: center;
  width: 992px;
  color: #264061;
  margin: 0 auto;
  font-size: 16px;
}

.col1 {
  width: 35%;
}

.col2 {
  width: 65%;
}

.wall1 {
  height: 40px;
  background-color: #376193;
}

.name {
  margin: 32px 0 0;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 29px;
}

.foto {
  margin-top: 22px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin: 32px 0 0;
  font-size: 23px;
  list-style-type: none;
  color: #264061;
  font-weight: bold;
}

.cotial,
.mail,
.contact-list,
p,
.skills,
.text {
  font-size: 16px;
}

.contacts-list {
  list-style-type: none;
  line-height: 2;
}

hr {
  background-color: #376193;
  margin: 5px 0px;
}

.decor {
  height: 40px;
}

.skills {
  column-count: 3;
}

.wall2 {
  height: 40px;
  background-color: #264061;
}
